[submodule "carbonable_contracts"]
	path = lib/carbonable_contracts
	url = https://github.com/Carbonable/carbonable-contracts

[submodule "cairo_contracts"]
	path = lib/cairo_contracts
	url = https://github.com/OpenZeppelin/cairo-contracts
	branch = refs/heads/v0.5.0
[submodule "cairopen_contracts"]
	path = lib/cairopen_contracts
	url = https://github.com/CairOpen/cairopen-contracts
[submodule "cairo_erc_3525"]
	path = lib/cairo_erc_3525
	url = https://github.com/carbonable-labs/cairo-erc-3525
